Package: com.sushibta.vmlspeedbubble
Name: VMLSpeedBubble
Version: 0.3.3
Architecture: iphoneos-arm64e
Description: Floating VietMap Live speed limit bubble for Dopamine RootHide.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate
