Package: com.sushibta.vmlspeedbubble
Name: VMLSpeedBubble
Version: 16.6-carplay-weather-ipc1
Architecture: iphoneos-arm64e
Description: Google Maps destination weather sent by Darwin notify IPC to a dedicated CarPlayApp overlay receiver.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate | ellekit
