Package: com.sushibta.vmlspeedbubble
Name: VMLSpeedBubble
Description: Floating VietMap Live speed limit bubble for Dopamine RootHide.
Maintainer: sushibta25-design
Author: sushibta25-design
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64e
Version: 0.2.0
